.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.search {
  float: left;
}

.nav-link {
  color: #F7FCF5;
}
.navbar.navbar-default {
   background-color: #314766;
   color: #F7FCF5;
}

.navbar-brand {
  color:#F7FCF5;
}
.background {
  background-color: #F7FCF5;
      background-size: cover;
       
}

