.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.search {
  float: left;
}
.navbar.navbar-default {
  border: 2px solid #314766;
}
.navbar-form.navbar-left {
  border: 1px solid #314766;
}
.navbar-default a.navbar-brand {
  color: #F7FCF5;
}
#log-out:hover {
  color: lightgray;
  background-color: #314766;
}
.navbar-default a.navbar-brand:hover {
  color: lightgray;
}
.navbar-default a.navbar-brand:focus {
  color:lightgray;
}
.navbar-default .navbar-nav > li > a {
  color: #F7FCF5;
}
.navbar-default .navbar-nav > li > a:hover {
    color:lightgray;
}
.navbar-default .navbar-nav > .active > a {
  background-color:#314766;
  color:#F7FCF5;
}

.navbar-default .navbar-nav > .active > a:hover {
  color: #777;
}

.navbar.navbar-default {
   background-color: #314766;
   color: #F7FCF5;
}
.background {
  background-color: white;
      background-size: cover;
       
}
.about-text {
  background-color: #D7EEEF;
  color: #314766;
  font-size: 16px;
  padding: 20px;
  border-radius: 3px;
}
.footer {
  color: #58788C;
  padding-top: 90px;
  margin-top: 5px;
}
.user-name {
  font-size: 20px;
  color:  #314766;
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-details {
  padding: 10px;
  background-color: #D7EEEF;
  margin: 10px;
  border-radius: 5px;
  color: #314766;
}
.profile-list {
    list-style-type: none;
    padding-left: 2px;
}
.profile-item {
    font-size: 16px;
    color: #314766;
    padding: 5px;
}
@media (min-width: 992px) {
    .profile-list {
        display: inline;
        padding-left: 0px;
    }
    .profile-item {
        display: inline;
        list-style-type: none;
        padding: 0px;
        padding-right: 90px;
    }
}



