.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  
}
@media (min-width: 768px) {
    .container { 
        width: 750px;
    } 
}
@media (min-width: 992px) {
    .container { 
        width: 970px; 
    } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}

.body {
font-family: 'Hind', sans-serif;
}
h1 {
    color: white;
}
.user-reviews {
    border: 2px solid grey;
    border-radius: 5px;
    margin: 10px;
}
.article-detail {
    padding-left: 7px;
    text-align: center;
    color: black;
    background: white;
    border: 2px solid white;
    margin: 10px;
    border-radius: 3px;

}

.article-card {
    display:inline-block;
    width: 100%;

}
.rate-button {
    text-align: center;
    margin: auto;
}
.background {
    background: black;
}
.navbar.navbar-default {
    margin-bottom: 0px;
}