.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;  
}
@media (min-width: 768px) {
    .container { 
        width: 750px;
    } 
}
@media (min-width: 992px) {
    .container { 
        width: 970px; 
    } 
}
@media (min-width: 1200px) {
    .container { width: 1170px; } 
}
.user-reviews {
    border: .5px solid #58788C;
    background:  #D7EEEF;
    padding-left: 7px;
    color: #58788C;
    margin: 10px;
    border-radius: 5px;
}
.article-detail {

    border: 2px solid #A8DADC;
    background:  #A8DADC;
    padding-left: 7px;
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 5px;

}

.article-card {
    display:inline-block;
    width: 100%;

}
.rate-button {
    text-align: center;
    margin: auto;
}

.font-color {

    color:  #45697F;
}